
* {
	font-family: 'Questrial', sans-serif;
	/* font-family: 'Balsamiq Sans', cursive; */
}

body {
	overflow-x: hidden;
  }

h1, h2, h3, h4 ,h5, h6{
    color: #070d59;
    font-family: 'Libre Baskerville', serif;
}

#portfolio, #education, #skills, #about {
	margin-top: 20px;
}

#myBtn {
	display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #0A1044;
    color: white;
    cursor: pointer;
    padding: 1px 15px 1px 15px;
    border-radius: 50px;
    font-size: 18px;	
  }

  #myBtn:hover {
	background-color: #ffe4c4;
	color: #000000;
  }

/* FIRST PART OF PAGES ================================ */

.wrapper { 
    background: #F9F9F9;
    /* background-image: url(/assets/images/1.jpg); */
    padding: 0 0 100px 0;
}

.main-page {
    padding: 200px 0 50px 0 ;
    
}

.first-title {
    font-family: 'Libre Baskerville', serif;
    font-size: small;
}


/* ====================================================== */




/* STICKEY NAVBAR ========================================== */

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

/* .tagline {
    border-left:1px dotted #c0c0c0;
    padding: 19px; 
} */

a.nav-link {
    font-family: 'Questrial', sans-serif;
    font-size: 15px;
    padding: 7px 0 0 0;
}

#navbar {
	overflow: hidden;
	background-color: #333;
}

#header {
    z-index:10;
}	

.header-lg{
	color: #fff;
	margin: 80px 0 0 0;
}

.sticky + .content {
  padding-top: 60px;
}

#main {
    padding: 0 0 30px 0;
	max-width: 400px;
	margin: 0 auto;
}

.bg-navy-blue{
	background-color: #070d59;
	color: #dfdfdf;
	padding-bottom: 3rem;
}



/* END STICKY NAVBAR ======================================== */

/* ABOUT ******************************************** */

header  {
    color: #070d59;
    font-family: 'Dosis', sans-serif;
    font-size: 3em;
    margin: 80px 0 0 20px;
}

/* hr {
	border-top: 2px double #070d59;
} */



p.header-details {
    /* font-family: 'Libre Baskerville', serif; */
    font-size: small;
}

div.col-md-4.no-margin{
	padding: 0!important;
}

.modal-dialog {
    width: 100% !important;
    height: 100% !important;
}
  
.modal-content {
    height: 100%;
    min-height: 100%;
    border-radius: 0;
}



h1 {
    color: #0A1044;
    /* // font-family: 'Cinzel', serif; */
    font-family: 'Gentium Book Basic', serif;
}
/* END: ABOUT===================================== */




/* // EDUATIONAL BACKGROUND ============================================== */

p.year {
	text-align: right!important;
	font-family: 'Dosis', sans-serif;
	font-size: 2em;
	margin: unset;
}

p.sub-title {
	font-family: 'Dosis', sans-serif;
	font-size: 1.3em;
	margin: unset;
}

p.title {
	font-family: 'Dosis', sans-serif;
	font-size: 2em;
	margin: unset;
}

ul.data-list  li {
	font-family: 'Balsamiq Sans', cursive;
	list-style-type: circle;	
}

/* PORTFOLIO ================================================ */

.portfolio-image {
	opacity: 1;
	display: block;
	width: 100%;
	height: auto;
	transition: .5s ease;
	backface-visibility: hidden;
	border-radius: 10px;
  }
  
  .portfolio-overlay {
	transition: .5s ease;
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	text-align: center;
  }
  
  .portfolio-gallery:hover .portfolio-image {
	opacity: 0.3;
  }
  
  .portfolio-gallery:hover .portfolio-overlay {
	opacity: 1;
  }

  .portfolio-view {	
	color: #000000;
	font-size: 2em;
	padding: 0 10px;
	align-items: center;
  }

 
  /* END: PORTFOLIO =============================================================== */


  /* SKILLS ========================================================================= */

  .service_box { 
      display: block; 
      text-align: center; 
      margin-top: 14px; 
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0); 
      z-index:55; 
      position:relative ;
    }

.service_item { 
    display: inline-block; 
    padding: 12px 22px; 
    position: relative; 
    cursor: pointer; 
    text-align: center; 
    min-width: 152px; 
    margin-bottom: 16px; 
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); 
}

.icon_box { 
    display: inline-block; 
    height: 48px; 
    width: 48px; 
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); 
}

.service_name { 
    padding: 0; 
    margin: 13px 0 0 0; 
}

.service_details:before { 
    background:none repeat scroll 0 0 rgba(212, 212, 212, 1); 
    bottom:-8px; content:""; 
    height:14px; 
    left:50%; 
    position:absolute; 
    -webkit-transform:rotate(45deg); 
    -moz-transform:rotate(45deg); 
    -ms-transform:rotate(45deg); 
    -o-transform:rotate(45deg); 
    width:14px; 
    margin-left:-7px; 
}

.service_details:after { 
    background:#fff; 
    bottom:-6px; 
    content:""; 
    height:16px; 
    left:50%; 
    position:absolute; 
    -webkit-transform:rotate(45deg); 
    -moz-transform:rotate(45deg); 
    -ms-transform:rotate(45deg); 
    -o-transform:rotate(45deg); 
    width:16px; 
    margin-left:-8px; 
}
.service_item.hover > .service_details, .service_item.open > .service_details { 
	display: block; 
}

.service_details > li { 
	text-align: left; 
	font-size: 13px; 
	line-height: 16px; 
	margin-bottom: 5px; 
	position: relative; 
	list-style: circle; 
	margin-left:5px; 
	text-align:left !important; 
}


.service_details { 
    display: block; 
    opacity: 0; 
    position: absolute; 
    bottom: 120px; 
    left: 50%; 
    width:300px; 
    margin-left: -153px; 
    background-color: #fff; 
    border: 1px dotted #c0c0c0; 
    padding: 21px 28px 17px 31px; 
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); 
    -webkit-transition: all 0.3s ease-in-out; 
    -moz-transition: all 0.3s ease-in-out; 
    -o-transition: all 0.3s ease-in-out; 
    transition: all 0.3s ease-in-out; 
}
.service_item:hover .service_details { bottom: 170px; opacity: 1; -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; }
.service_name { padding: 0; margin: 20px 0 0 0; }




img.icon {
    width: 25px;
    height: 25px;
}

/* END : SKILLS =================================================== */

/* START: EDUCATION */

/* CONTACT ======================================================== */

.all-button {
    color: #343a40;
	border-color: #0A1044;
	/* font-family: 'Balsamiq Sans', cursive; */
}


.all-button:hover {
    color: #fff;
    background-color: #0A1044;
    border-color: #0A1044;
}
a.all-button:hover {
	color: #fff;
	
}



input.form-control, textarea.form-control {
    border: 1px dotted #C0C0C0;
    border-width: medium;
  }

.social-icon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

footer {
	padding-top: 3em;
	background-color: #0A1044;
	color: #fff;
	height: 20em;
	font-family: 'Questrial', sans-serif;
}

p.footer-header {
	color: #fff;
	font-family: 'Dosis', sans-serif;
	font-size: 2em;
}


  /* END:CONTACT===================================== */

  

  
  /* MOBILE VIEW ============================================= */
  @media only screen and (max-width: 791px) {

	#portfolio, #education, #skills, #about {
		margin-top: 20px;
	}

	.about-me-sm{
		text-align: justify;
		padding: 2em;
	}

	.header-sm{
		font-size: 1.5rem;
		text-align: justify;
		margin: 80px 0 0 0;
	}

	.btn-sm {
		width: 100%;
		margin-top: .2rem;
	}

	/* START : SKILLS */

	ul.service_box {
		padding-left: 0;
	}

	.service_details {
		display: unset;
		bottom: unset; 
		opacity: 0; 
		position: unset; 
		left: unset; 
		width: unset; 
		margin-left: unset; 
		background-color: #fff; 
		border: unset; 
		padding: unset; 
		-webkit-tap-highlight-color: unset; 
		-webkit-transition: unset; 
		-moz-transition: unset; 
		-o-transition: unset; 
		transition: unset;
		color: black; 
	}

	/* START: EDUCATION */
	p.year {
		text-align: left!important;
		font-family: 'Dosis', sans-serif;
		font-size: 1em;
		margin: unset;
		
	}
	
	p.sub-title {
		font-family: 'Dosis', sans-serif;
		font-size: .9em;
		margin: unset;
	}
	
	p.title {
		font-family: 'Dosis', sans-serif;
		font-size: 1.3em;
		margin: unset;
	}	

	ul.data-list  li {
		font-family: 'Balsamiq Sans', cursive;
		list-style-type: circle;	
	}

	.experience.row{
		margin-left: unset;
	}

	body {
        overflow-x: hidden;
      }

      /* #myBtn {
        display: none;
        position: fixed;
        bottom: 20px;
        right: 30px;
        z-index: 99;
        border: none;
        outline: none;
        background-color: #0A1044;
        color: white;
        cursor: pointer;
        padding: 1px 15px 1px 15px;
        border-radius: 50px;
        font-size: 18px;	
      }
    
      #myBtn:hover {
        background-color: #ffe4c4;
        color: #000000;
      } */

  }

