
    <div class="container-fluid" >
        <div class="row">
            <div class="col-md-6 animate fadeinright text-center"  data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine">
                <header id="first-header">ABOUT</header>
                <p>x</p>
                <p class="header-details">
                    a masterpiece; a work-in-progress; <br> 
                    and have been wandering around the world <br> 
                    — exploring different possibilities.
                </p>

                <!-- <a type="button" class="btn all-button btn-sm text-center"  data-toggle="modal" data-target="#photography"> Websites Portfolio</a>  

                <a type="button" class="btn  all-button  btn-sm text-center"  data-toggle="modal" data-target="#photography"> Photography Portfolio</a>   
                
                <a type="button" class="btn all-button btn-sm text-center"  data-toggle="modal" data-target="#photography"> Event Portfolio</a>  -->        
            </div>

            <div class="col-md-6 about-me-sm  bg-navy-blue text-justify px-5" data-aos="fade-left" data-aos-offset="300" data-aos-easing="ease-in-sine">
                <header class="header-lg header-sm">Patricia Rolda</header>
                <p>I'm passionate of — theater arts, dance, music, baking , web development, events management, travelling and artsy stuff. And have been exploring different kinds of world, life, possibilities and adventure. </p>
                <p>I also love photography and always roam around the theater world to show the beauty of unseen universe of people’s expression on and off the stage thru photos. <a type="button" data-toggle="modal" data-target="#photography"> Here's my 2016-2019 Collection.</a></p>

                <p>Currently, I'm working as travel consultant and an event organizer in an international travel company. I just also finished my study in web development and here's my portfolio! Enjoy! </p>
            
                <!-- <a type="button" class="btn all-button btn-sm text-center"  data-toggle="modal" data-target="#photography"> Curriculum Vitae</a>  -->
            </div>

            <!-- PHOTOGRAPHY MODAL -->
            <div class="modal fade " id="photography" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="photography">Story we must tell. 2016-2019 Collection</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>

                        <div class="modal-body">
                            <object data="D:/EDUCATION/Software Engineering/Portfolio/PORTFOLIO/assets/files/Patricia_Rolda_Photography-Story_we_must_tell_2016-2019_Collection.pdf" type="application/pdf" width="100%" height="100%"> 
                            <p>It appears you don't have a PDF plugin for this browser, you can <a href="D:/EDUCATION/Software Engineering/Portfolio/PORTFOLIO/assets/files/Patricia_Rolda_Photography-Story_we_must_tell_2016-2019_Collection.pdf">click here to
                            download the PDF file.</a></p>  
                            </object>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    
    <!-- ABOUT -->
    <section class="" >
        <div class="row">
            <div class="col-md-6">
            <header class="text-center">MY PROFILE</header>
            <ul>
                <li>Name: Patricia Rolda</li>
                <li>Date of birth: May 21</li>
                <li>Email: roldapatricia@gmail.com</li>
                <li>Phone number: (+63)9152868142</li>
            </ul>
            </div>
    
            <div class="about-me-sm col-md-6 bg-navy-blue text-justify px-5">
            <header class="header-lg header-sm">Patricia Rolda</header>
            <p>She is passionate of — theater arts, dance, music, baking , web development, events management, travelling and artsy stuff. She have been exploring different kinds of world, life, possibilities and adventure. </p>
            <p>She is a theater actor who have long gone from performing on stage. But still roams around the theater world to show the beauty of unseen universe of people’s expression on and off the stage thru photos.</p>
    
            <p>Currently, she is working as travel consultant and an event organizer in an international travel company. She also finished her study in web development and looking for a career as web developer. Look at her works here. </p>
            
            <a type="button" class="btn all-button btn-sm text-center"  data-toggle="modal" data-target="#photography"> Websites Portfolio</a>  
    
            <a type="button" class="btn  all-button  btn-sm text-center"  data-toggle="modal" data-target="#photography"> Photography Portfolio</a>   
            
            <a type="button" class="btn all-button btn-sm text-center"  data-toggle="modal" data-target="#photography"> Event Portfolio</a> 
    
            <a type="button" class="btn all-button btn-sm text-center"  data-toggle="modal" data-target="#photography"> Curriculum Vitae</a> 
            </div>

            <!-- PHOTOGRAPHY MODAL -->
            <div class="modal fade " id="photography" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="photography">Story we must tell. 2016-2019 Collection</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>

                        <div class="modal-body">
                            <object data="D:/EDUCATION/Software Engineering/Portfolio/PORTFOLIO/assets/files/Patricia_Rolda_Photography-Story_we_must_tell_2016-2019_Collection.pdf" type="application/pdf" width="100%" height="100%"> 
                            <p>It appears you don't have a PDF plugin for this browser, you can <a href="D:/EDUCATION/Software Engineering/Portfolio/PORTFOLIO/assets/files/Patricia_Rolda_Photography-Story_we_must_tell_2016-2019_Collection.pdf">click here to
                            download the PDF file.</a></p>  
                            </object>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>

<hr id="experience">

  <!-- WORK EXPERIENCE -->


  <div class="container experience" >
      <div class="row">
          <div class="col-md-12">
              <header class="text-center">WORK EXPERIENCES</header>
              <p class="text-center">x</p>
              <p  class="text-center">Experienced in airport operation, travel and events management. </p>

              <section class="cd-horizontal-timeline">
                  <div class="timeline">
                      <div class="events-wrapper">
                      <div class="events">
                          <ol>
                              <li><a href="#0" data-date="01/05/2015" class="selected">
                              &nbsp;</a></li>
                              <li><a href="#0" data-date="01/03/2014"></a></li>
                              <li><a href="#0" data-date="01/02/2013"></a></li>
                              <li><a href="#0" data-date="01/02/2012"></a></li>
                          </ol>

                          <span class="filling-line" aria-hidden="true"></span>
                      </div> <!-- .events -->
                  </div> <!-- .events-wrapper -->
                  </div> <!-- .timeline -->

                  <div class="events-content">
                      <ol>
                          <li class="selected" data-date="01/05/2015">
                              <h5>Senior Travel Consultant | Engagement Member </h5> 
                              <em>CWT Philippines Inc.<br>
                                  March 2019 - Present</em>
                                  <p><strong>Travel Consultant</strong><br>
                                  Arranges international and domestic business travel itinerary which includes air, hotel and ground transportation. Coordinates with the suppliers for all new reservation, modification and cancellations.</p>
                                  <br>
                              <p><strong>Engagement Member <br> 
                                  EDGE Member (Excellence | Diverse | Goal-oriented | Engaged) </strong><br>Part of the company’s engagement team that serve as ambassadors of engagement through internal company events, community involvement and overall site-wide activities that promote solidarity and improve cultural temperature of the company.</p>
                          </li>

                          <li data-date="01/03/2014">
                              <h5>Media Sales Specialist</h5>
                              <em>BG Bridal Gallery | NSTBG Philippines<br>
                                  February 2018 - September 2018</em>
                              <p>⦿ Promoted the company’s all-in wedding packages to clients. <br>
                                  ⦿ Coordinated with all the suppliers for our online platform. <br>
                                  ⦿ Handled client inquiries, and attends wedding events such as bridal fairs and food tasting in promoting the company’s services. <br>
                                  ⦿ Established a network of wedding suppliers fit for the needs of the clients. <br>
                                  ⦿ Computed the total costing of the clients’ wedding packages.</p>
                          </li>

                          <li data-date="01/02/2013">
                              <h5>Reservation and Ticketing Officer | Airport Services Agent</h5>
                              <em>Ethiopian Airlines | Pan Euro International Inc.<br>
                                  August 2015 - September 2017</em>
                              <p>⦿ Assigned by the Ethiopian Airline’s country manager to work on Airline’s ACE (Achieving Competitive Excellence). <br>
                                  ⦿ Arranged travel reservation and assisted clients inquiry such as quotations, ticket exchange, travel document requirements and frequent flyer enrolment via Amadeus system on both offices: airport office in NAIA terminal 1 and ticketing main office in Makati City.  <br>
                                  ⦿ Handled pre and post flight check, ticket association, hotel voucher issuance, excess baggage issuance, flight ticket irregularity, flight disruptions  such as delayed and cancelled flight.  <br>
                                  ⦿ Assigned to manage the Airport Office daily time record and to be submitted to the HR department and Accounting Department every cut-off.</p>
                          </li>

                          <li data-date="01/02/2012">
                              <h5>Reservation Officer/Tour Coordinator</h5>
                              <em>PUP CTHTM Tours and Travel Agency <br>
                                  August 2015 - September 2017</em>
                              <p>It is the travel agency of Polytechnic University of the Philippines managed by students and headed by Professor Yolanda Montances. Below are the responsibilities of a Reservation Officer: <br>
                                  ⦿ Coordinated with different school department for their semester educational tour <br>
                                  ⦿ Made the reservation for each students, professors and coordinators <br>
                                  ⦿ Organized the educational tour aligned with the goals and objectives for the current semester of the requesting department <br>
                                  ⦿ Assigned as a tour coordinator on every educational tour</p>
                          </li>
                      </ol>
                  </div> <!-- .events-content -->
              </section>

          </div> <!-- end div experience -->
      </div> <!-- end row experience -->
  </div> 

  <!-- end work experience -->

      

<hr id="school">

<!-- EDUCATION -->
  <section >
      <div class="container item accordion" id="education">
          <header class="text-center">EDUCATION</header>
          <p class="text-center">x</p>
          <p  class="text-center">My educational background from highschool to graduate school.</p>


          <!-- <div class="row education">
              <div class="col-md-3 year">2016 - 2020</div>
              <div class="col-md-6 course" >
                  <p data-toggle="collapse" data-target="#pwu">Master of Science in Tourism Management (1.5 GPA) </p>
              
                  <div class="collapse" id="pwu">
                  <p class="sub-title" >Philippine Women's University</p>
                  <p>It is dedicated to the planning, development and management of the Tourism Industry. </p>
                  </div>
              
              
              </div>
          </div> -->

          <div class="row education">
              <div class="col-md-3 year" data-target="#bootcamp">2019 - 2020</div>
              <div class="col-md-6 course" data-toggle="collapse" data-target="#bootcamp">Web Development Bootcamp

                  <div class="collapse" id="bootcamp">
                  <p class="sub-title">Zuitt Philippines Inc.</p>
                  </div>
              </div>
          </div>

          <div class="row education">
              <div class="col-md-3 year">2011 - 2015</div>
              <div class="col-md-6 course" data-toggle="collapse" data-target="#pup">Bachelor of Science in Tourism Management (1.5 GPA) 

                  <div class="collapse" id="pup">
                  <p class="sub-title">Polytechni University of the Philippines</p>
                  <p>It is dedicated to the planning, development and management of the Tourism Industry. </p>
                  </div>
              </div>
          </div>

          <div class="row education">
              <div class="col-md-3 year">2015 - 2016</div>
              <div class="col-md-6 course" data-toggle="collapse" data-target="#ckat">Events Management 
                  <div class="collapse" id="ckat">
                  <p class="sub-title">Center for Knowledge and Advance Training</p>
                  </div>        
              </div>
          </div>

          

          <div class="row education">
              <div class="col-md-3 year">2015 - 2016</div>
              <div class="col-md-6 course" data-toggle="collapse" data-target="#ags">Amazing Grace School 
                  <div class="collapse" id="ags">
                  <p class="sub-title">Honors, Awards, Extracurricular</p>
                  <ul class="content">
                      <li>4th Class Achiever</li>
                      <li>Consistent Dean's Lister</li>
                  </ul>
                  </div>
              </div>
          </div>
      </div>

    </section>

<hr  id="skills">

  <!-- SKILLS -->
  <div class="container">
  <header class="text-center">MY SKILLS</header>
      <p class="text-center">x</p>
      <p  class="text-center">My educational background from highschool to graduate school.</p>

      <section class="section" id="section6">
          <div id="ancor6"></div>
          <div class="container clearfix">
              <div class="col1-1">
              <ul class="service_box">
                  <li class="service_item">
                  <div class="icon_box search">
                      <img src="../assets/images/page-logo/web.png" alt="" class="img-fluid">
                  </div>
                  <p class="service_name"> Wed Development</p>
                  <ul class="service_details">

                      <li>FRONT-END DEVELOPMENT: HTML, CSS, Bootstrap, SASS, Javascript and jQuery</li>
                      <li>BACK-END DEVELOPMENT: PHP and Laravel</li>
                      <li>DATABASE: MySQL</li>
                      <li>VERSION CONTROL: Git/Gitlab</li>
                      <li>TOOLS: Visual Studio Code</li>

                  </ul>
                  </li>
                  <li class="service_item">
                  <div class="icon_box search">
                      <img src="../assets/images/page-logo/gds.png" alt="" class="img-fluid">
                  </div>
                  <p class="service_name">GDS</p>
                  <ul class="service_details">
                      <li>GDS: Sabre (Native and Sabre Interact) and Amadeus</li>
                      <li>Amadeus Loyalty Management System</li>
                      <li>Advance SABRE reservation and ticketing 
                          (Multi-segment air, car, hotel domestic and international booking)</li>
                      <li>Manual ticketing fare calculation</li>
                      <li>Proficient in Fare Rules reading</li>
                      <li>SABRE airport check-in, excess baggage, upgrade and hotel issuance</li>
                  </ul>
                  </li>
                  <li class="service_item">
                  <div class="icon_box network">
                      <img src="../assets/images/page-logo/business.png" alt="" class="img-fluid">
                  </div>
                  <p class="service_name">Business Management</p>
                  <ul class="service_details">
                      <li>ACE (Achieving competitive excellence) quality system</li>
                      <li>Business process mapping </li>
                  </ul>
                  </li>
                  <li class="service_item">
                  <div class="icon_box illustration">
                      <img src="../assets/images/page-logo/sales.png" alt="" class="img-fluid">
                  </div>
                  <p class="service_name">Sales and Events</p>
                  <ul class="service_details">
                      <li>Customer Relationship Management Systems (CRM tools: Zoho and HubSpot)</li>
                      <li>Corporate and social event management</li>
                      <li>Teambuilding techniques and events coordination</li>
                      <li>Events planning, proposal and task delegation</li>
                      <li>Product costing</li>
                  </ul>
                  </li>
                  <li class="service_item">
                  <div class="icon_box vector">
                      <img src="../assets/images/page-logo/technical.png" alt="" class="img-fluid">
                  </div>
                  <p class="service_name">Technical Skill</p>
                  <ul class="service_details">
                      <li>MICROSOFT OFFICE: Word, Excel, Publisher, Outlook, PowerPoint and Visio</li>
                  </ul>
                  </li>
                  <li class="service_item">
                  <div class="icon_box quote">
                      <img src="../assets/images/page-logo/creative.png" alt="" class="img-fluid">
                  </div>
                  <p class="service_name">Creative Skills
                  </p>
                  <ul class="service_details">
                      <li>ADOBE CREATIVE SUITE: Photoshop and Lightroom</li>
                      <li>Photography: Theater photography and portrait</li>
                      <li>Theater Arts Management (Stage management, Acting, Conventional & Environmental friendly Props making, script writing, assistant directing)</li>
                  </ul>
                  </li>
              </ul>
              </div>
          </div>
      </section>
  </div>

<hr id="portfolio">

  <!-- PORTFOLIO -->
  <div class="container" >
      <header class="text-center">PORTFOLIO</header>
          <p class="text-center">x</p>
          <p  class="text-center">Here's some of my (mini) projects.</p>

      <div class="row portfolio-gallery">
          <div class="col-md-4 case-study">
              <figure>
                  <img class="case-study__img img-fluid" src="../assets/images/portfolio/daloy.gif" alt="" />
              </figure>
              <div class="case-study__overlay">
                  <h2 class="case-study__title">Dance Website</h2>
                  <a class="case-study__link" href="#">View</a>
              </div>
          </div>
      </div>
      <div class="case-study-gallery">
          <div class="case-study study1">
              <figure>
                  <img class="case-study__img" src="../assets/images/portfolio/daloy.gif" alt="" />
              </figure>
              <div class="case-study__overlay">
                  <h2 class="case-study__title">Dance Website</h2>
                  <a class="case-study__link" href="#">View</a>
              </div>
          </div>

          <div class="case-study study2">
              <figure>
                  <img class="case-study__img img-fluid" src="../assets/images/portfolio/ecommerce.gif" alt="" />
              </figure>
              <div class="case-study__overlay">
                  <h2 class="case-study__title">Designer Website (E-commerce)</h2>
                  <a class="case-study__link" href="#">View</a>
              </div>
          </div>
          
          <div class="case-study study2">
              <figure>
                  <img class="case-study__img img-fluid" src="../assets/images/portfolio/todo-app.gif" alt="" />
              </figure>
              <div class="case-study__overlay">
                  <h2 class="case-study__title">To do App (Mini-Project)</h2>
                  <a class="case-study__link" href="#">View</a>
              </div>
          </div>
          
          <div class="case-study study2">
              <figure>
                  <img class="case-study__img img-fluid" src="../assets/images/portfolio/color-game.gif" alt="" />
              </figure>
              <div class="case-study__overlay">
                  <h2 class="case-study__title">To do App (Mini-Project)</h2>
                  <a class="case-study__link" href="#">View</a>
              </div>
          </div>
          
          <div class="case-study study2">
              <figure>
                  <img class="case-study__img img-fluid" src="../assets/images/portfolio/soon2.gif" alt="" />
              </figure>
              <div class="case-study__overlay">
                  <h2 class="case-study__title">Coming soon...</h2>
              </div>
          </div> 
          
          <div class="case-study study2">
              <figure>
                  <img class="case-study__img img-fluid" src="../assets/images/portfolio/soon.gif" alt="" />
              </figure>
              <div class="case-study__overlay">
                  <h2 class="case-study__title">Coming soon...</h2>
              </div>
          </div>
          
          
      </div>
  </div>

<hr  id="contact">

  <!-- CONTACT -->
  <section class="contant">
      <header class="text-center">CONTACT</header>
      <p class="text-center">x</p>
          <p  class="text-center">Get in touch via contact form or email us directly. We will get back to you as soon as possible.</p>

          <div class="row">
              <div class="col-md-8">
                  <div class="container mx-5">
                      <form class="mx-5 mb-5">
                          <div class="form-group mt-3">
                              <!-- <label for="exampleFormControlInput1">Name</label> -->
                              <input class="form-control" type="text" placeholder="Your name">
                          </div>
                  
                          <div class="form-group">
                              <!-- <label for="exampleFormControlInput1">Email address</label> -->
                              <input type="email" class="form-control" placeholder="YourEmail@mail.com">
                              <!-- <p>We'll never share your email with everyone else!</p> -->
                          </div>
                  
                          <div class="form-group">
                              <!-- <label for="exampleFormControlTextarea1">Message</label> -->
                              <textarea class="form-control" rows="3" placeholder="Your message"></textarea>
                          </div>

                          <div class="button">
                              <button type="button" class="btn all-button rounded-0 w-100">SEND</button>
                          </div>
                      </form>
                  </div>
                  
              </div>

              <div class="col-md-4">

                  <div class="container">
                      <h2>SAY HELLO</h2>
                      <p>Email: roldapatricia@gmail.com <br>
                          Phone: (+63)915-286-7142</p>

                      <div class="copy">
                          <h2>CONNECT</h2>
                          <div class="social">
                              
                              <a href="https://gitlab.com/patriciarolda" class="icon">
                                  <img src="../assets/images/page-logo/gitlab.png" alt="GitLab" class="social-icon">
                              </a>
                              <a href="https://github.com/patriciarolda" class="icon">
                                  <img src="../assets/images/page-logo/github.png" alt="GitLab" class="social-icon">
                              </a>
                              <a href="https://www.linkedin.com/in/patriciarolda/" class="icon">
                                  <img src="../assets/images/page-logo/linkedin.png" alt="LinkedIn" class="social-icon">
                              </a>
                              <a href="https://www.instagram.com/patriciarolda/" class="icon">
                                  <img src="../assets/images/page-logo/ig.png" alt="Instagram" class="social-icon">
                              </a>
                              <a href="https://www.facebook.com/patriciarolda" class="icon">
                                  <img src="../assets/images/page-logo/fb.png" alt="Facebook" class="social-icon">
                              </a>
                          </div>
                      </div>
                  </div>
                  
              </div>
          </div>
  </section>


  <!-- FOOTER -->
  <footer>
  <div class="sub-footer">
      <div class="container">
          <div class="row">
              
              <div class="col-lg-12">
                  <div class="text-center">
                      <p class="footer-text my-3">&copy; 2020 Patty Ro. All Rights Reserved.</p>
                  </div>
              </div>

          </div>
      </div>
  </div>
  </footer>
  th.education-year{
	text-align: right!important;
	font-family: 'Dosis', sans-serif;
	font-size: 2em;
}

td {
	width: 50%;
}
	
th {
	width: 20%;
}

tbody > tr> td> p {
	font-family: 'Dosis', sans-serif;
	font-size: 2em;
	margin: unset;
}

tbody > tr > td > p.school {
	font-family: 'Dosis', sans-serif;
	font-size: 1.3em;
	margin: unset;
}

tbody > tr > td > ul > li {
	font-family: 'Balsamiq Sans', cursive;
	list-style-type: circle;
}


/* -- */

<table class="table table-borderless">
    <!-- <thead>
    <tr>
        <th scope="col" class="education-year">2016 - 2020</th>
        <th scope="col">
            <p>Master of Science in Tourism Management</p>
            
        </th>
    </tr>
    </thead> -->
    <tbody>
    <tr>
        <th scope="row" class="education-year">2019 - 2020</th>
        <td>
            <p>Web Development Bootcamp</p>
            <p class="school">Zuitt Bootcamp Inc.</p>
            
            <ul>
                <li>FRONT-END DEVELOPMENT: HTML, CSS, Bootstrap, SASS, Javascript and jQuery</li>
                <li>BACK-END DEVELOPMENT: PHP and Laravel</li>
                <li>DATABASE: MySQL</li>
                <li>VERSION CONTROL: Git</li>
                <li>TOOLS: Visual Studio Code</li>
            </ul> 
        </td>
    </tr>

    <tr>
        <th scope="row" class="education-year">2015 - 2016</th>
        <td>
            <p>Events Management</p>
            <p class="school">CKAT Inc.</p>

        </td>
    </tr>

    <tr>
        <th scope="row" class="education-year">2011 - 2015</th>
        <td><p>Bachelor of Science in Tourism Management</p>
            <p class="school">Polytechnic University of the Philippines</p>
            <ul>
                <li>Excellence in Field of Specialization | Bronze Awardee
                </li>
                <li>Reservation Officer | PUP CTHTM Tours and Travel Agency</li>
                <li>Event Production Manager | Metamorphosis (Change, Develop and Transform Seminar)</li>
                <li>Event Manager | 2014 Orientation</li>
                <li>Class President</li>
            </ul>
        </td>
    </tr>

    <tr>
        <th scope="row" class="education-year">2007 - 2011</th>
        <td><p>Highschool</p>
            <p class="school">Amazing Grace School</p>
            <ul>
                <li>4th Class Achiever</li>
                <li>Consistent Dean's Lister</li>
            </ul>
        </td>
    </tr>
    
    </tbody>
</table>